@import '~@schibstedspain/sui-theme/lib/index';

.sui-SearchMoviePreview {
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }
  .sui-AtomCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__containerImage {
    border: 2px solid #ccc;
    width: 300px;
    height: 450px;
  }

  &__title {
    color: black;
    text-align: center;
  }

  &__image {
    height: 100%;
    width: 100%;
  }
}
