.sui-AtomCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    &-info {
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
    }
}

.detail-container {
    height: 100vh;
    width: 60vw;
    position: fixed;
    left: 50%;
    right: 0;
    top: 0;
    display: flex;
    transform: translateX(-50%);
    @media (max-width: 750px) {
        flex-direction: column;
    }
}

article.movieDetail {
    padding-left: 80px;
}