@import '~@schibstedspain/sui-theme/lib/index';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,700');

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;;
    color: #202121;
    background: #f4f7f6;
}

#app {
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: 70px auto 40px;
}

.header {
    background-color: #f4f7f6;
    border-bottom: 1px solid #e6eaea;
    position: relative;
}

.content {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    &-build {
        margin: 0;
        font-size: 12px;
    }
}


@import '~@s-ui/react-atom-input/lib/index';
.search-content {
    & .sui-AtomInput--withIcon-icon {
        width: 16px;
        height: 16px;
        color: #d0d1d4;
    }
    & .sui-AtomInput-input {
        border: 0;
        height: 70px;
        min-height: 70px;
        &:focus {
            box-shadow: none;
            border: 0;
        }
        &::placeholder {
            color: #d0d1d4;
        }
    }
}

@import '~@s-ui/react-molecule-pagination/lib/index';
.pagination {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}