.sktest-BarbasCard {
  margin-bottom: .1rem;

  &-image{
    width: 90%;
    height: 80%;
  }
}

@import '~@schibstedspain/sui-theme/lib/index';
@import '~sktest-barbass-card/lib/index';
@import url('https://fonts.googleapis.com/css?family=Saira');

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media screen and (max-width: #{$tablet-width}){
    @content;
  } 
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width}){
    @content;
  } 
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

html, body {
  font-family: 'Saira', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $c-white;

  @include tablet {
    background-color: $c-gray-dark;
  }
}

#app {
  display: flex;
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  height:94vh;
  margin: 1rem;
  background-color: $c-white;
  
  @include tablet {
    justify-content: center;
    height:90vh;
    width: 50vh;
    border: .05rem dotted $c-gray-dark;
    border-radius: 1rem;
    background-color: $c-white;
    color: $c-gray-dark;
    text-decoration: none;
    font-size: .8rem;
    cursor: pointer;

    &:hover {
      box-shadow: .3rem .3rem $c-gray-dark;
      background-color: $c-white !important;
      color: $c-gray-dark;
      border-color: $c-gray-dark !important;
    }
  }
  
  @include desktop {
    justify-content: center;
    height:90vh;
    width: 60vh;
    border: .1rem dashed $c-gray-dark;
    border-radius: 1rem;
    background-color: $c-white;
    color: $c-gray-dark;
    text-decoration: none;
    font-size: .8rem;
    cursor: pointer;

    &:hover {
      box-shadow: .3rem .3rem $c-gray-dark;
      background-color: $c-white !important;
      color: $c-gray-dark;
      border-color: $c-gray-dark !important;
    }
  }
}

.sktest-BarbasSearchBar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;

  &-wrapper {
    display: flex;
    width: 100%;
  }

  &-input {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    border: .05rem dotted $c-gray-dark;
    background-color: $c-white;
    color: $c-gray-dark;
    text-decoration: none;
    padding-top: .5rem; 
    padding-bottom: .5rem; 
    padding-left: 1rem;
    font-size: .6rem;
  }
  
  &-button {      
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    margin-left: .2rem;
    display: flex;
    justify-content: center;
    border: .05rem dotted $c-gray-dark;
    background-color: $c-white;
    color: $c-gray-dark;
    text-decoration: none;
    font-size: .6rem;
    cursor: pointer;

    &:hover {
      box-shadow: .3rem .3rem $c-gray-dark;
      background-color: $c-white !important;
      color: $c-gray-dark;
      border-color: $c-gray-dark !important
    }
  }
}

.movie-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.movie {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  border: 0.05rem dotted $c-gray-dark;
  border-radius: 0.5rem;
  background-color: $c-white;
  color: $c-gray-dark;

  &:hover {
    box-shadow: 0.3rem 0.3rem $c-gray-dark;
  }

  &-image {
    margin-top: 1rem;
    flex-grow: 0;

    & > img {
      width: 90%;
      height: 80%;
    }
  }

  &-content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 96vh;
  margin-left: 2.2rem;
  margin-right: 2.2rem;

  @include tablet {
    height: 88vh;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @include desktop {
    height: 89vh;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  &-header {
    font-size: .7rem;
    padding-top: 0rem;
  }

  &-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > a {
      margin-bottom: 3rem;
      text-decoration: none;
      font-size: .6rem;
      border: .05rem dotted $c-gray-dark;
      background-color: $c-white;
      color: $c-gray-dark;
      text-decoration: none;
      padding: 2rem;

      &:hover {
        box-shadow: .3rem .3rem $c-gray-dark;
        background-color: $c-white !important;
        color: $c-gray-dark;
        border-color: $c-gray-dark !important
      }
    }
  }

  &-footer {
    & > p {
      text-decoration: none;
      font-size: .5rem;
    }
  }
}

.search {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  height: 96vh;
  margin-left: 2.2rem;
  margin-right: 2.2rem;

  @include tablet {
    height: 88vh;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @include desktop {
    height: 89vh;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  &-header {
    flex-shrink: 0;
    font-size: .7rem;
    padding-top: 0rem;
  }

  &-nav {
    flex-shrink: 0;
    justify-self: center;
    margin-bottom: 2rem;

    & > a {
      margin-bottom: 3rem;
      text-decoration: none;
      font-size: 0.6rem;
      border: .05rem dotted $c-gray-dark;
      background-color: $c-white;
      color: $c-gray-dark;
      text-decoration: none;
      padding: 0.4rem;
      
      &:hover {
        box-shadow: .3rem .3rem $c-gray-dark;
        background-color: $c-white !important;
        color: $c-gray-dark;
        border-color: $c-gray-dark !important
      }
    }
  }

  &-search {
    flex-shrink: 0;
  }

  &-results {
    flex-grow: 1;
    overflow: auto; 
  }
}

.detail {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  height: 96vh;
  margin-left: 2.2rem;
  margin-right: 2.2rem;

  @include tablet {
    height: 88vh;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @include desktop {
    height: 89vh;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  &-header {
    flex-shrink: 0;
    font-size: .7rem;
    padding-top: 0rem;
  }

  &-nav {
    flex-shrink: 0;
    justify-self: center;
    margin-bottom: 2rem;

    & > a {
      margin-bottom: 3rem;
      text-decoration: none;
      font-size: 0.6rem;
      border: .05rem dotted $c-gray-dark;
      background-color: $c-white;
      color: $c-gray-dark;
      text-decoration: none;
      padding: 0.4rem;
      
      &:hover {
        box-shadow: .3rem .3rem $c-gray-dark;
        background-color: $c-white !important;
        color: $c-gray-dark;
        border-color: $c-gray-dark !important
      }
    }
  }
  &-results{
    flex-grow: 1;
    overflow: auto; 
    justify-content: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  height: 96vh;
  margin-left: 2.2rem;
  margin-right: 2.2rem;

  @include tablet {
    height: 88vh;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @include desktop {
    height: 89vh;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  &-header {
    flex-shrink: 0;
    font-size: .7rem;
    padding-top: 0rem;
  }

  &-nav {
    flex-shrink: 0;
    justify-self: center;
    margin-bottom: 2rem;

    & > a {
      margin-bottom: 3rem;
      text-decoration: none;
      font-size: 0.6rem;
      border: .05rem dotted $c-gray-dark;
      background-color: $c-white;
      color: $c-gray-dark;
      text-decoration: none;
      padding: 0.4rem;
      
      &:hover {
        box-shadow: .3rem .3rem $c-gray-dark;
        background-color: $c-white !important;
        color: $c-gray-dark;
        border-color: $c-gray-dark !important
      }
    }
  }

  &-results {
    flex-grow: 1;
    overflow: auto; 
  }
}

.spinner {
  justify-self: center;
  align-self: center;

  & > i {
    font-size: 5rem;
  }
}


