@import "~@s-ui/react-atom-spinner/lib/index";
@import "~@schibstedspain/sui-atom-button/lib/index";
@import "~@s-ui/react-atom-input/lib/index";
@import "~@s-ui/react-molecule-notification/lib/index";
@import "~@s-ui/react-atom-image/lib/index";



.searchForm {
  display: flex;
  width: 1000px;
  align-self: center;
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  &-card {
    text-decoration: none;
    color: black;
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 700px;
    margin: 50px;
    padding: 50px;
    background-color: white;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.75);
  }

  &-card:hover{
      background-color: #dbdbdb
  }
}
